td, th {
    font-size: x-large;
    border: solid;
    color: brown;
    background-color: aqua;
}

.active_page {
    color: rgba(255, 99, 71, 9);
}

.button_page {
    color: white;
    border: 2px solid black;
    margin: 5px;
    padding: 20px;
    font-size: large;
}